<div>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label for="nomId">Nom Agence</mat-label>
      <input matInput placeholder="Nom agence" id="nom" [(ngModel)]="agence.nom" formControlName="nom" placeholder="Nom* (obligatoire)"
      [ngClass]="{ 'is-invalid': formErrors.nom }" >
      <span class="invalid-feedback">
        {{ formErrors.nom }}
      </span>
    </mat-form-field> &nbsp; &nbsp;

    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput placeholder="Adresse" [(ngModel)]="agence.adresse" formControlName="adresse" placeholder="Adresse* (obligatoire)"
      [ngClass]="{ 'is-invalid': formErrors.adresse }" >
    </mat-form-field> &nbsp; &nbsp;

    <mat-form-field>
      <mat-label>Region</mat-label>
      <input matInput placeholder="Region" [(ngModel)]="agence.region" formControlName="region" placeholder="Region* (obligatoire)"
      [ngClass]="{ 'is-invalid': formErrors.region }" >
    </mat-form-field> &nbsp; &nbsp;

    <mat-form-field>
      <mat-label>Departement</mat-label>
      <input matInput placeholder="departement"  [(ngModel)]="agence.departement" formControlName="departement" placeholder="departement* (obligatoire)"
      [ngClass]="{ 'is-invalid': formErrors.departement }" >
    </mat-form-field> &nbsp; &nbsp;

    <mat-form-field>
      <mat-label>Telephone</mat-label>
      <input matInput placeholder="telephone" [(ngModel)]="agence.telephone" formControlName="telephone" placeholder="Telephone* (obligatoire)"
      [ngClass]="{ 'is-invalid': formErrors.telephone }" >
    </mat-form-field> &nbsp; &nbsp;

    <!-- <mat-form-field>
      <mat-label>Date de Creation</mat-label>
      <input matInput type="date" placeholder="Date Creation" formControlName="dateCreation"
      [ngClass]="{ 'is-invalid': formErrors.date }" >
    </mat-form-field> &nbsp; &nbsp; -->

              <!-- <mat-form-field>
      <mat-label>Ville</mat-label>
      <input matInput placeholder="Ville" formControlName="ville">
    </mat-form-field> &nbsp; &nbsp; -->
              <br>
              Add a new employee &nbsp; &nbsp;
              <button type="button" mat-raised-button (click)="addEmployee()">
                <mat-icon matTooltip="Add a new Employee">add</mat-icon>
              </button>
              <br>
              <hr>

              <div formArrayName="employees" *ngFor="let u of employeeArray.controls; index as i" id="click">

                <span>Employee {{ i + 1 }}</span> &nbsp; &nbsp;

                <!-- <app-create-employee [inputFormGroup]="$any(u)"></app-create-employee> &nbsp; &nbsp; -->




        <div [formGroupName]="i">


                <div [formGroupName]="i">

                  <!-- <mat-form-field>
            <mat-label attr.for="{{ 'matriculeId' + i }}" >Matricule</mat-label>
            <input matInput placeholder="Matricule"  formControlName="matricule" id="{{ 'matriculeId' + i }}">
          </mat-form-field> &nbsp; &nbsp; -->

          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom"  formControlName="nom" [(ngModel)]="em.nom" >
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label  >Prenom</mat-label>
            <input matInput placeholder="Prenom"  formControlName="prenom" [(ngModel)]="em.prenom">
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label >Telephone</mat-label>
            <input matInput placeholder="Telephone"  formControlName="telephone" [(ngModel)]="em.telephone">
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label  >Email</mat-label>
            <input matInput placeholder="Email" type="email"  formControlName="email" [(ngModel)]="em.email">
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>CNI</mat-label>
            <input matInput placeholder="Cni"   formControlName="cni" [(ngModel)]="em.cni">
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label>Date Delivrance CNI</mat-label>
            <input type="date" matInput  placeholder="dateDelivranceCni"  formControlName="dateDelivranceCni" [(ngModel)]="em.dateDelivranceCni">
          </mat-form-field> &nbsp; &nbsp;



          <mat-form-field>
            <mat-label >Adreesse</mat-label>
            <input matInput placeholder="adresse"  formControlName="adresse" [(ngModel)]="em.adresse">
          </mat-form-field> &nbsp; &nbsp;

          <mat-form-field>
            <mat-label  >Numero Compte Bancaire</mat-label>
            <input matInput placeholder="Numero Compte Bancaire" formControlName="numCompteBancaire" [(ngModel)]="em.numCompteBancaire">
          </mat-form-field> &nbsp; &nbsp;


          <label class="example-margin" >Manager:</label>
          <select id=""  name="manager" formControlName="manager" [(ngModel)]="em.manager">
            <option selected>Choose...</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
          <!-- </mat-radio-group> -->
          &nbsp; &nbsp;

          <!-- <mat-form-field>
            <mat-label attr.for="{{ 'agenceId' + i }}" >Agence</mat-label>
            <select matNativeControl formControlName="agence" id="{{ 'agenceId' + i }}">
              <option value="" selected></option>
              <option *ngFor="let a of agences" ngValue="a.id" >{{ a.nom }}</option>
            </select>
          </mat-form-field> &nbsp; &nbsp;
   -->

          <br>
          <button mat-raised-button color="warn" (click)="removeEmployee(i)">
            <mat-icon>delete</mat-icon>
          </button>&nbsp;
          <button type="button" mat-raised-button (click)="registEmpl()">
            <mat-icon matTooltip="Add a new Employee">save</mat-icon>
          </button>
      </div><br>


      <!-- <button mat-raised-button color="accent" (click)="removeEmployee(i)">
        <mat-icon>delete</mat-icon>
      </button> -->


                <!-- <table mat-table [dataSource]="listdata"   class="mat-elevation-z8"> -->
                <!-- [dataSource]="dataSource" -->


                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let  listdata"> {{listdata.id}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let listdata"> {{listdata.nom}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Prenom </th>
          <td mat-cell *matCellDef="let listdata"> {{listdata.prenom}} </td>
        </ng-container> -->

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Telephone </th>
          <td mat-cell *matCellDef="let listdata"> {{listdata.telephone}} </td>
        </ng-container> -->

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>-->
      <hr>
    </div>



</div>
  </form>




  <table class="table table-striped" *ngIf="employeeList.length == 0">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Telephone</th>
        <th scope="col">Email</th>
        <th scope="col-2">CNI</th>
        <th scope="col">Adresse</th>
        <th scope="col-2">Manager</th>
        <th scope="col-2">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listdata">
        <th scope="row">{{item.nom}}</th>
        <td>{{item.prenom}}</td>
        <td>{{ item.telephone }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.cni}}</td>
        <td>{{ item.adresse }}</td>
        <td>{{ item.manager}}</td>


        <td><button type="button" class="btn btn-danger" (click)="deleteEmpl(item)"><i class="fa fa-trash-alt"></i></button></td>
      </tr>

    </tbody>
  </table>


            <div class="ln_solid"></div>
            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>

          </div>
   
