
<!-- <pre>{{ agences | json }}</pre> -->


<div>
    <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>Agences  <small style="font-size:medium;">Some examples to get you started</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!-- table content -->
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Datas <small>Agence</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <a href="#" routerLink="/agence/new" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add</a>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li> -->
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table class="table table-striped  dt-responsive nowrap" cellSpacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom de l'Agence</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Region</th>
                                        <th scope="col">Departement</th>
                                        <th scope="col">Telephone</th>
                                        <th scope="col">Date de Creation</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of agences">
                                        <th scope="row">{{a.nom}}</th>
                                        <td>{{a.adresse}}</td>
                                        <td>{{a.region}}</td>
                                        <td>{{a.departement}}</td>
                                        <td>{{a.telephone}}</td>
                                        <td>{{a.dateCreation}}</td>
                                        
                                        <td>
                                            <span class="dropdown table-dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                    aria-expanded="false"></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-eye"></i>
                                                        Afficher</a>
                                                    <a class="dropdown-item" (click)="updateAgence(a.id)" ><i class="fa fa-edit"></i>
                                                        Modifier</a>
                                                    <a class="dropdown-item" (click)="deleteAgence(a.id)" ><i class="fa fa-trash"></i>
                                                        Supprimer</a>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- table content -->

    <!-- page content -->

</div>



