<div>
  <!-- page content -->
  <div class="page-title">
    <div class="title_left">
      <h3>Nouveau Proprietaire</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="term"  placeholder="Rechercher">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-sm-12 col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Ajouter un nouveau proprietaire</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left" [formGroup]="proprietaireForm">
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom" name="nom" formControlName="nom" >
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Prenom" formControlName="prenom">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess7" placeholder="CNI/Passport" formControlName="cni" >
            <span class="fa fa-newspaper-o form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Adresse" formControlName="adresse">
            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess9" placeholder="Date Delivrance CNI/Passport " formControlName="dateDelivranceCni">
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess10" placeholder="Date de Naissance" formControlName="dateNaissance">
            <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-3 col-sm-3 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Telephone" formControlName="telephone">
            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-3 col-sm-3 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess6" placeholder="Email" formControlName="email">
            <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-3 col-sm-3 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess8" placeholder="Profession" formControlName="profession">
            <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-3 col-sm-3 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="inputSuccess11" placeholder="Numero Compte Bancaire" formControlName="numCompteBancaire">
            <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
          </div>

          <hr/>

          <div class="x_title">
            <h2>Propriété</h2>
            <div class="clearfix"></div>
          </div>

          <div class="col-md-4 col-sm-4 form-group has-feedback">
            <select class="form-control has-feedback-left" id="type" formControlName="proprietes">
              <option *ngFor="let item of list" value="{{item}}">{{ item | titlecase }}</option>
            </select>
            <span class="fa fa-list-alt form-control-feedback left" aria-hidden="true"></span>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>